<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<system.diagnostics>
		<sources>
			<source name="ShuttersTraceSource"
			  switchName="sourceSwitch"
			  switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="myListener"
					  type="System.Diagnostics.TextWriterTraceListener"
					  initializeData="C:\temp\ShuttersTrace.log">
					</add>
					<remove name="Default" />
				</listeners>
			</source>
		</sources>
		<switches>
			<!-- TODO change to 'Information' to see roller shutter logs -->
			<add name="sourceSwitch" value="Off"/>
		</switches>
	</system.diagnostics>
</configuration>